.mainFrame {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #eef14d;
}

.header{
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: right;
    margin-left: 30%;
    height:calc(35px + 1.5vh);
    margin-bottom: 30px;
}

.mainFrame>.header>span {
    font-size:calc(20px + 1.5vw);
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

button {
    background-color: #eef14d;
    border-radius: 100px;
    cursor: pointer;
    width: 70px;
    height: 70px;
    font-size: 50px;
}

.fields {
    background: #eef14d;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(5, calc(6px + 10vh));
    margin: 0;
    padding: 10px;
    width: 80%;
    height: 80vh;
    border-radius: 50px;
}

.oneList{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    align-items: center;
    border-radius: 12px;
    background: #17181c;
    overflow: hidden;
    cursor: pointer;
    height: 10vh;
    width: 90%;
    margin: 1vh 5%;
    color: #eef14d;
    font-size: 30px;
    padding: 0 10px;
}

.newFieldWnd {
    flex-direction: column;
    background: #eef14d;
    border: black solid 2px;
    border-radius: 20px;
    display: none;
    width: 400px;
    height: 200px;
}

.newFieldWnd.visible {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.newFieldWnd>form {
    width: 80%;
    padding: 5px;
    justify-content:stretch;
    display: flex;
}

.newFieldWnd>form>input {
    display: flex;
}