.container {
  width: 100%;
}


.overlap-group {
  position: fixed;
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: right;
  left: 75vh;
  top: 5vh;
}

.page-header {
  flex: 1;
}

.login-text {
  font-weight: 600;
  color: #eef14d;
  font-size: 14vh;
  text-align: left;
  letter-spacing: 0;
  line-height: normal;
}

.button-signUp {
  width: 40vh;
  background-color: #eef14d;
  border-radius: 100px;
  margin-right: 80vh;
}

.SignUp {
  font-weight: 600;
  color: #000000;
  font-size: 8vh;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  white-space: nowrap;
}

.login {
  position: fixed;
  width: 30%;
  height: 40%;
  top: 20%;
  left: 35%;
}

form.login input[type="text"],
form.login input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 15px 0;
    box-sizing: border-box;
    background-color: #999999;
    border-radius: 50px;
    width: 100%;
    height: 20%;
    text-align: center;
    font-size: 4vh;
    font-style: normal;
    line-height: normal;
    font-weight: 600;
}

form.login button {
  background-color: #eef14d;
  color: black;
  margin: 15px 0;
  width: 100%;
  height: 20%;
  border: none;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  font-size: 6vh;
  font-style: normal;
  line-height: normal;
  font-weight: 600;
}

.forgot {
  position: relative;
  height: 20%;
  margin-top: 45vh;
  font-weight: 500;
  color: #eef14d;
  font-size: 6vh;
  text-align: center;
  letter-spacing: 0;
  line-height: normal;
  text-decoration: underline;
}


@media screen and (max-aspect-ratio: 16/9) {
  body {
    background-color: 17181c;
    display: flex;
    flex-direction: column; /* Zmiana kierunku flex na kolumnowy dla lepszego dostosowania do urządzeń mobilnych */
    align-items: center; 
  }
  
  .overlap-group {
    position: fixed;
    width: 100%;
    height: 10vh;
    left: 0;
  }
  
  .login-text {
    font-weight: 600;
    color: #eef14d;
    font-size: 8vh; /* Dostosowanie rozmiaru czcionki */
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .button-signUp {
    width: 3vh; 
    background-color: #eef14d;
    border-radius: 50px;
  }
  
  .SignUp {
    position:absolute;
    top: 0;
    left: 0;
    font-weight: 600;
    color: #000000;
    font-size: 5vh; /* Dostosowanie rozmiaru czcionki */
    text-align: center;
    letter-spacing: 0;
    line-height: normal;
    white-space: nowrap;
  }
  
  .login {
    position: relative; /* Zmiana na relatywną, aby formularz był responsywny w kontekście rodzica */
    width: 96%;
    left: 0;
  }
  
  form.login input[type="text"],
  form.login input[type="password"] {
    margin: 2%; /* Zmniejszenie marginesu */
    box-sizing: border-box;
    background-color: #999999;
    border-radius: 50px; /* Zmniejszenie zaokrąglenia narożników */
    text-align: center;
    font-size: 4vh; /* Dostosowanie rozmiaru czcionki */
    font-weight: 600;
    height: 10vh;
  }
  
  form.login button {
    margin: 2%;
    font-size: 6vh; /* Dostosowanie rozmiaru czcionki */
    border-radius: 50px;
    text-align: center;
    font-weight: 600;
    background-color: #eef14d;
    height: 10vh;

  }
  
  .forgot {
    height: 10%; /* Zmniejszenie wysokości */
    margin-top: 40vh; /* Zmniejszenie marginesu górnego */
    font-weight: 500;
    color: #eef14d;
    font-size: 5vh; /* Dostosowanie rozmiaru czcionki */
    text-align: center;
    text-decoration: underline;
  }
  
}

